*{
    padding: auto;
}
body{
    justify-content: center;
    text-align: center;
    max-height: 100vh;
    margin-top: 250px;
    background-image: url(v.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.container{
    width: 300px;
    height: 500px;
    background-color: rgba(255,255,255,.1);
    border: 7px solid rgb(255, 255,255,.2);
    border-radius: 15px;
    margin-left:80px;
    position: absolute;
    border-radius: 20px;
    margin-top: -100px; 
    padding: 20px; 
    color:#fff; 
}
.search-box{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;

}
.search-box input{
    align-items: center;
    position: absolute;
    background: transparent;
    border: 5px solid rgba(255,255,255,.2);
    outline: none;
    border-radius: 10px;
    width: 80%;
    height: 60px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    padding: 0 48px 0 48px;
    font-size: 20px;
    margin-left: -10px;
}
.search-box input::placeholder{
    color: #fff;
    text-transform: capitalize;
}
.search-box button{
    margin-left: 250px;
    background: transparent;
    border: none;
    outline: none;
    padding-right: 100px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: transparent;
}
.search-box i{
    margin-left: 7px;
    font-size: 20px;
}
.weather{
    align-items: center;
}
.weather .fan{
    width: 45%;
    margin-top: 70px;
}
.weather .temp{
    font-size: 50px;
    font-weight: bold;
}
.weather .temp span{
    margin-top: 50px;
    font-size: 30px;
}
.weather .city{
   margin-top: -40px;
   font-size: 30px;
   text-transform: capitalize;
}
.weather-details{
    margin-left: -250px;
    margin-bottom: 25px;
    font-weight: bold;
}
.wind{
    margin: -105px;
    margin-left: 120px;
    margin-bottom: -240px;
    font-weight: bold;
}
.weather-details .head{
    margin-top: 20px;
}
.wind .demo{
    margin-top: 20px;
    font-weight: bold;
}

